/* General Styles */
/* HomePage Container with White Background */
.WB-homepage {
    text-align: center;
    margin-top: 40px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
  }
  
  
  /* Responsive Adjustment for Homepage */
  @media only screen and (max-width: 768px) {
    .WB-homepage {
      padding: 20px;
    }
  }
  